<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>do-or-die-server</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>hk.edu.uic.doordie.server.controller.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMyTodos</display-name>
    <servlet-name>GetMyTodos</servlet-name>
    <servlet-class>hk.edu.uic.doordie.server.controller.servlet.GetMyTodos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMyTodos</servlet-name>
    <url-pattern>/GetMyTodos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMyFriendsTodos</display-name>
    <servlet-name>GetMyFriendsTodos</servlet-name>
    <servlet-class>hk.edu.uic.doordie.server.controller.servlet.GetMyFriendsTodos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMyFriendsTodos</servlet-name>
    <url-pattern>/GetMyFriendsTodos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMyFriends</display-name>
    <servlet-name>GetMyFriends</servlet-name>
    <servlet-class>hk.edu.uic.doordie.server.controller.servlet.GetMyFriends</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMyFriends</servlet-name>
    <url-pattern>/GetMyFriends</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetComments</display-name>
    <servlet-name>GetComments</servlet-name>
    <servlet-class>hk.edu.uic.doordie.server.controller.servlet.GetComments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetComments</servlet-name>
    <url-pattern>/GetComments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUnknownUsers</display-name>
    <servlet-name>GetUnknownUsers</servlet-name>
    <servlet-class>hk.edu.uic.doordie.server.controller.servlet.GetUnknownUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUnknownUsers</servlet-name>
    <url-pattern>/GetUnknownUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddComments</display-name>
    <servlet-name>AddComments</servlet-name>
    <servlet-class>hk.edu.uic.doordie.server.controller.servlet.AddComments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddComments</servlet-name>
    <url-pattern>/AddComments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTodo</display-name>
    <servlet-name>AddTodo</servlet-name>
    <servlet-class>hk.edu.uic.doordie.server.controller.servlet.AddTodo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTodo</servlet-name>
    <url-pattern>/AddTodo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>hk.edu.uic.doordie.server.controller.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRelation</display-name>
    <servlet-name>AddRelation</servlet-name>
    <servlet-class>hk.edu.uic.doordie.server.controller.servlet.AddRelation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRelation</servlet-name>
    <url-pattern>/AddRelation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddMonitor</display-name>
    <servlet-name>AddMonitor</servlet-name>
    <servlet-class>hk.edu.uic.doordie.server.controller.servlet.AddMonitor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMonitor</servlet-name>
    <url-pattern>/AddMonitor</url-pattern>
  </servlet-mapping>
</web-app>