<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>do-or-die-server</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>hk.edu.uic.doordie.server.controller.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>My_Todos</display-name>
    <servlet-name>My_Todos</servlet-name>
    <servlet-class>hk.edu.uic.doordie.server.controller.servlet.My_Todos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>My_Todos</servlet-name>
    <url-pattern>/My_Todos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>My_Friends_Todos</display-name>
    <servlet-name>My_Friends_Todos</servlet-name>
    <servlet-class>hk.edu.uic.doordie.server.controller.servlet.My_Friends_Todos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>My_Friends_Todos</servlet-name>
    <url-pattern>/My_Friends_Todos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>My_Friends</display-name>
    <servlet-name>My_Friends</servlet-name>
    <servlet-class>hk.edu.uic.doordie.server.controller.servlet.My_Friends</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>My_Friends</servlet-name>
    <url-pattern>/My_Friends</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Comments</display-name>
    <servlet-name>Comments</servlet-name>
    <servlet-class>hk.edu.uic.doordie.server.controller.servlet.Comments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Comments</servlet-name>
    <url-pattern>/Comments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Users</display-name>
    <servlet-name>Users</servlet-name>
    <servlet-class>hk.edu.uic.doordie.server.controller.servlet.Users</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Users</servlet-name>
    <url-pattern>/Users</url-pattern>
  </servlet-mapping>
</web-app>